{% extends "base.html" %}
{%block title %}about{% endblock %}
{% block aboutactive %}active{% endblock %}
{%block css %}{% endblock %}

{% block body %}

<div class="container my-2">
    <h2 class="text-center py-1 px-1">About us</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, praesentium. Temporibus quibusdam eum,
        accusamus nam totam veritatis excepturi deleniti perferendis nesciunt. Reprehenderit cumque maxime
        soluta qui consectetur quisquam, corrupti perferendis impedit eius reiciendis possimus illo aliquam,
        eum beatae consequuntur optio error odit recusandae aspernatur eligendi sapiente debitis libero. Eaque
        ipsam fugit id cumque repellendus aperiam sequi deserunt corporis praesentium, quos soluta non
        doloremque, aliquid, est ipsa nihil qui veniam sit possimus architecto voluptate explicabo? Tenetur
        similique modi tempora officia qui culpa eius magni obcaecati placeat expedita rerum provident ipsum
        ratione laboriosam dignissimos, cumque excepturi quas nemo recusandae fugiat! Numquam officia et
        suscipit eveniet aperiam corrupti quas sed aspernatur possimus vitae commodi asperiores quo optio
        inventore quidem molestiae quisquam voluptatibus consequuntur magni, corporis ut.
    </p>
    <p>
        Ducimus, placeat ad. Temporibus obcaecati reprehenderit cupiditate, ipsa architecto quo deserunt,
        magni vero dicta nostrum natus nemo tempore voluptatum blanditiis placeat facere quod officiis rem!
        Fugit dolorem deleniti cupiditate voluptatum adipisci inventore reiciendis dignissimos delectus
        repellendus maiores illum magnam amet hic optio voluptates, asperiores vel quae quibusdam, iusto
        temporibus veniam, ab eius. Nesciunt, excepturi molestiae ipsum quos commodi vero tenetur praesentium
        laborum omnis animi quod maxime, numquam beatae perferendis, incidunt ut soluta quibusdam corporis!
        Tempora eos repudiandae harum repellat cumque aliquam, aspernatur voluptate.
    </p>
    <p>
        Ratione quod, veritatis error, asperiores sit vitae debitis nesciunt beatae praesentium tenetur quis
        sunt quibusdam voluptatum? Modi doloribus iusto libero molestiae sapiente quibusdam dolorum placeat
        consectetur nam aliquid non, doloremque debitis molestias, facilis inventore? Quia eveniet, error
        minus delectus magni eum consequatur atque quam ea repellat quasi placeat, ex maxime excepturi
        doloribus voluptate provident? At temporibus sunt sit eum quis animi quae harum explicabo minima?
        Perspiciatis illum, inventore quae doloribus culpa dolorem odio architecto quia odit omnis natus velit
        eum, nobis sunt. Voluptatibus non atque aperiam? Optio impedit et aut a praesentium temporibus
        ducimus, minus sunt dolorum consectetur perferendis esse dolor molestias nihil magnam distinctio at
        modi eaque. Architecto asperiores ipsam ratione praesentium commodi!
    </p>
</div>

{% endblock %}