{% extends "base.html" %}
{%block title %}about{% endblock %}
{% block aboutactive %}active{% endblock %}
{%block css %}{% endblock %}

{% block body %}

<div class="container my-2">
    <h2 class="text-center py-1 px-1">About us</h2>
    <p>
        Online inventory management software is accessed through the internet, rather than through a program
        installed on your physical computers and servers. This greatly reduces your company’s hardware
        requirements. What’s more, the subscription-based pricing plans these systems typically offer tend to
        be less expensive than the traditional, desktop-based systems. This makes online inventory management
        software a cost-effective option for small businesses.
    </p>
    <p>
        Inventory managers are uniquely useful for sales departments because they ensure you can easily manage
        and track your inventory. These platforms include features for monitoring amounts of each product your
        inventory, including how much is being produced daily, how much is being stored and how much is being
        sold. With the automation of this information, you can more swiftly monitor inventory data, such as
        how well certainitems are selling, and more accurately predict future inventory needs.
    </p>
    <p>
    <h4>Real-time inventory management</h4>
    Allows you to see your stock levels, incoming and outgoing orders, shipping information and a whole host
    of other measures in real time. This enables you to improve tracking and make informed decisions using
    up-to-date knowledge of your inventory.
    <h4>Item variations</h4>
    This categorization capability is an essential function of most online inventory management systems. It
    allows you to store key product variations and differentiations in order to quickly and conveniently
    organize your inventory based on specific details, such as product color.
    <h4>Scanning</h4>
    To more easily identify and input products in the system, many solutions use barcode or radio frequency
    identification (RFID) tags. Scanning these tags with barcode scanners or other devices provides
    information on the product, as well as actions that can be taken to manage it.
    <h4>Reporting and analytics</h4>
    Provides access to user-friendly, data-driven dashboards articulating inventory levels, sales reports and
    other information you need. With this information in hand, you can make smarter decisions and optimize key
    components of your business, including pricing, shipping, purchasing and reordering.
    <h4>Multichannel inventory synchronization</h4>
    You may sell your products through multiple channels, including online and retail stores. The solution
    should be capable of providing the exact inventory status by checking all the channels where sales are
    occurring. Also, inventory should be synchronized with the order management module that notifies customers
    immediately if any product is out of stock.
    <h4>Automatic updates</h4>
    Most tools offer real-time inventory status updates, as inventory management is the most critical task in
    running a business. It allows managers to check that inventory is stocked and fulfilled from warehouses
    for every order. Also, in case of low inventory or out-of-stock items, an automatic update is sent to
    warehouse managers that informs them to take action and order new inventory.
    </p>
</div>

{% endblock %}