{% extends "base.html" %}
{%block title %}ims | add new product{% endblock %}
{%block css %}{% endblock %}
{% block imsactive %}active{% endblock %}

{% block body %}

    <div class="container my-3" style=" height: 650px;">

        <h2>Add new product</h2>
        
        <form action="add" method="POST">

            <div class="mb-3 row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name"
                        placeholder="Enter the product name ">
                </div>
            </div>


            <div class="mb-3 row">
                <label for="desc" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="desc" name="desc"
                        placeholder="Enter the product Description ">
                </div>
            </div>


            <div class="mb-3 row">
                <label for="price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="price" name="price"
                        placeholder="Enter the product unit  price ">
                </div>
            </div>


            <div class="mb-3 row">
                <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="stock" name="stock"
                        placeholder="Enter the total quantity of items in stock">
                </div>
            </div>


            <div class="mb-3 row">
                <label for="reol" class="col-sm-2 col-form-label">Reorder Level</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="reol" name="reol"
                        placeholder="Enter the reoder level of the product">
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </form>
    </div>

{% endblock %}