{% extends "base.html" %}
{%block title %}job detail{% endblock %}
{% block jobactive %}active{% endblock %}
{%block css %}{% endblock %}

{% block body %}
<div class="container my-2">

    <!-- featured job -->
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                InventoryManagementSystem
            </div>

            <div class="card-body">
                <h5 class="card-title">ABC Compnay</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis enim
                    ab aliquid quibusdam optio, illo, excepturi quos asperiores ea provident ducimus odit
                    libero ipsa ipsum consequatur, praesentium nihil qui vel.</p>
                <a href="{{url_for('details')}}" class="btn btn-primary">Click here to view detailed
                    report</a>
            </div>
        </div>
    </div>

    <div class="container my-2 mx-1">
        <h2>Inventory Table</h2>
        <table style="width:100%">
            <tr>
                <th>Inventory ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Qty in Stock</th>
                <th>Total Value</th>
                <th>Reorder Level</th>
            </tr>
            <tr>
                <td>101</td>
                <td>Juicer</td>
                <td>Good Juicer</td>
                <td>Rs 1000.00</td>
                <td>10</td>
                <td>Rs 10000.00</td>
                <td>5</td>

            </tr>
            <tr>
                <td>102</td>
                <td>Juicer</td>
                <td>Good Juicer</td>
                <td>Rs 1000.00</td>
                <td>10</td>
                <td>Rs 10000.00</td>
                <td>5</td>
            </tr>
        </table>

    </div>

</div>

{% endblock %}