{% extends "base.html" %}
{%block title %}update password{% endblock %}
{%block css %}
<style>
    p a:hover{
        color: rgb(211, 14, 14);
    }
</style>
{% endblock %}

{% block body %}

<div class="container mx-5 my-5" style=" height: 500px;">
    <h2>Enter your new pasword here: </h2>
    <form method="post" action='updatepass'>
        <div class="mb-1">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder="Select a username for yourself">
            <div style="color:red;" id="emailHelp" class="form-text">{{my_msg}}</div>
        </div>

        <div class="mb-1">
            <label for="password" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="password" name="password"
                placeholder="Enter your old  password">
        </div>

        <div class="mb-1">
            <label for="pass1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1"
                placeholder="Enter your new password">
        </div>

        <div class="mb-1">
            <label for="pass2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2"
                placeholder="Confirm your new  password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br><br>
        <p>New to Inventory Management System<a href="{{ url_for('register') }}"> Register Here</a></p>
    </form>

</div>

{% endblock %}