{% extends "base.html" %}
{%block title %}forget password{% endblock %}
{%block css %}
<style>
    p a:hover{
        color: rgb(211, 14, 14);
    }
</style>
{% endblock %}

{% block body %}

<div class="container mx-5 my-5" style=" height: 500px;">
    <h2>Registered User's Login here : </h2>
    <form method="post" action='forgetpass'>
        <div class="mb-1">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder="Enter your username">
            <div style="color:red;" id="emailHelp" class="form-text">{{my_msg}}</div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Send Password</button>
        <br><br>
        <p>New to Inventory Management System<a href="{{ url_for('register') }}"> Register Here</a></p>
    </form>

</div>

{% endblock %}